/* <link href="/custom_code/style.css" rel="stylesheet" type="text/css" /> */

.menu-button-6[aria-expanded='false'] {
    background-color: transparent;
    color: var(--green);
}

.menu-button-6[aria-expanded='true'] {
    background-color: #a40000;
    color: white;
}
