/* <link href="/custom_code/style.css" rel="stylesheet" type="text/css" /> */

/* Remove Webflow Advertisment */

.w-webflow-badge {
    display: none !important;
}

/* Persist Highlight for Dropdown Button */

.w-dropdown:hover .w-dropdown-toggle,
.w-dropdown:focus-within .w-dropdown-toggle {
    color: var(--black_any);
    box-shadow: 0 -2px 0 inset;
}

/* Dropdown Up Arrow */

.nav-dropdown-list-6 {
    border-top: 28px solid transparent;
    background-color: transparent;
}

.nav-dropdown-list-6::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -19px;
    width: 0;
    height: 0;
    border-left: 19px solid transparent;
    border-right: 19px solid transparent;
    border-bottom: 19px solid var(--black_any);
    z-index: 0;
}

.nav-dropdown-list-6::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -18px;
    width: 0;
    height: 0;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-bottom: 18px solid var(--button_base_hover_bg);
    z-index: 1;
}

/* Custom Styling for Dropdown Items */

.nav-dropdown-list-6 > :first-child {
    border-top: 1px solid var(--black_any);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.nav-dropdown-list-6 > :last-child {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

/* Nested Lists */

ul ul {
    margin-top: 0.375rem;
    margin-bottom: 0.25rem;
}
